<!-- Define a function to render each feedback -->
<% function renderFeedback(feedback) { %>
    <div class="item-preview">
      <a href="/single-feedback/<%= feedback._id %>">
        <h2>Sender: <%= feedback.sender %></h2>
        <p>Details</p>
      </a>
    </div>
  <% } %>
  
  
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Feedbacks</title>
      <link rel="stylesheet" href="/css/styles.css" />
      <!-- Link to external stylesheet -->
    </head>
    <body>
      <nav class="navbar">
        <h1>My Feedbacks</h1>
        <div class="links">
          <a href="/">Home</a
          ><a class="new-item-link" href="/addfeedback">New Feedback</a>
        </div>
      </nav>
  
      <div class="content">
        <div class="home">
          <div class="item-list">
            <% if (feedbacks.length > 0) { %>
            <!-- Call the renderFeedback function for each feedback -->
            <% feedbacks.forEach(renderFeedback); %> <% } else { %>
            <p>No feedbacks found.</p>
            <% } %>
          </div>
        </div>
      </div>
    </body>
  </html>